html {
    font-size: 14px;
}

.cardHolder {
    width: 18rem;
    height: 15rem;
    margin: 2rem;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.linkColor {
    color: #299dd6; /* Default text color */
}

    .linkColor:hover {
        color: #0a5073; /* Text color on hover */
    }

    .linkColor:active,
    .linkColor.active {
        color: #1f3a47; /* Text color when clicked or in active state */
    }
