html {
    font-size: 14px;
    font-family: 'Times New Roman', serif;
}

.cardHolder {
    width: 18rem;
    height: 15rem;    
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Times New Roman', serif;
}

.linkColor {
    color: #047678; /* Default text color */
    font-family: 'Times New Roman', serif;
}

    .linkColor:hover {
        color: #0a5073; /* Text color on hover **/
    }

.text-title {
    color: #047678;
    font-family: 'Times New Roman', serif;
}

.btn-color {
    color: #047678;
    font-family: 'Times New Roman', serif;
}

.perfectColorText {
    color: #047678;
    font-family: 'Times New Roman', serif;    
}

.perfectColorButton {
    color: #047678;
    font-family: 'Times New Roman', serif;
    border: 2px solid #047678;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.cardOptions {
    margin:1rem;
    color: #047678;
    font-family: 'Times New Roman', serif;
    border: 2px solid #047678;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}