<div class="backGlassBackground">

<h1>Jaki planer chcesz zobaczyć?</h1>

<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
        <h5 class="card-title">Dzienny planer</h5>
    <p class="card-text">Stwórz swój własny dzienny organizer</p>
        <a asp-controller="Planner" asp-action="DailyPlanner" class="btn btn-primary">Stwórz dzienny planer</a>
  </div>
</div>

<div class="card text-center" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Tygodniowy planer</h5>
        <p class="card-text">Stwórz swój własny tygodniowy organizer</p>
        <a asp-controller="Planner" asp-action="WeeklyPlanner" class="btn btn-primary">Stwórz tygodniowy planer</a>
    </div>
</div>
<div class="card text-center" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Miesięczny planer</h5>
        <p class="card-text">Stwórz swój własny miesięczny organizer</p>
        <a asp-controller="Planner" asp-action="MonthlyPlanner" class="btn btn-primary">Stwórz miesięczny planer</a>
    </div>
</div>
</div>