@model List<Planner>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Miesięczny planer
            </h2>
        </div>
        <div class="col-6">
            <a asp-controller="Planner" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus"></i> Utwóż nowy miesięczny planner
            </a>
        </div>
    </div>

    <div>
        @if (Model != null)
        {
            @foreach (var obj in Model)
            {
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">@obj.Name</div>
                    <div class="card-body">
                        <h4 class="card-title">@obj.Type</h4>
                        @* todo link to done planner  *@
                    </div>
                </div>
            }
        }
        else
        {
            <div>Stwórz miesięczny planer.</div>
        }
    </div>
</div>

