@model Planner
@{
    ViewData["Title"] = "Stwórz Codzienny Planner";
}
<form id="dailyPlannerForm">
<div class="container">
    <h2 class="perfectColorText">
        Stwórz dzienny planer
    </h2>
    <div asp-validation-summary="All"></div>
    <div class="mb-3 row">
        <div class="col-sm-6">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="perfectColorText"></span>
        </div>
          
    <div class="row">
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-4">
                <label asp-for="MoodOption"></label>
            </div>
        </div>
        <div class="col-6">
            <button type="submit" class="btn perfectColorButton">Stwórz</button>
        </div>
        <div class="col-6">
            <a asp-controller="ToDo" asp-action="Index" class="btn perfectColorButton">Powrót</a>
        </div>
    </div>
</form>
</div>
