@model ToDoListItem

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="perfectColorText">Usuń listę rzeczy</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label class="perfectColorText" asp-for="Name"></label>
            <input asp-for="Name" disabled class="perfectColorText form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="perfectColorText"></label>
            <textarea asp-for="Description" disabled class="perfectColorText form-control"></textarea>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn perfectColorButton">Usuń</button>
            </div>
            <div class="col-6">
                <a asp-controller="ToDo" asp-action="Index" class="btn perfectColorButton">Powrót</a>
            </div>
        </div>
    </div>
</form>

