@model ToDoListItem

@{
    ViewData["Title"] = "Lista do wykonania";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="perfectColorText">Edytuj listę rzeczy</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3 row">
            <div class="col-sm-6">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="perfectColorText"></span>
            </div>
            <div class="col-sm-4">
                <label class="perfectColorText" for="taskProgress">Status</label>
                <select class="perfectColorText" id="taskProgress" name="TaskProgress" asp-for="@Model.Progress" asp-items="@ViewBag.TaskProgressValues">
                </select>                
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <textarea id="mytextarea" asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn perfectColorButton" form-control>Update</button>
            </div>
            <div class="col-6">
                <a asp-controller="ToDo" asp-action="Index" class="btn perfectColorButton" form-control>Powrót</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <script src="https://cdn.tiny.cloud/1/ogriug3tq7xam756c27ngkjxyb31yy80a9tku1vxhr6qptq1/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
            });
        </script>
        <partial name="_ValidationScriptsPartial" />
    }
}