@model List<ShoppingList>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Lista zakupów
            </h2>
        </div>
        <div class="col-6">
            <a asp-controller="ShoppingList" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus"></i> Utwóż nową listę
            </a>
        </div>
    </div>

    <div>
        @if (Model != null)
        {
            @foreach (var obj in Model)
            {
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">@obj.Name</div>
                    <div class="card-body">
                        <h4 class="card-title">@obj.Name</h4>
                        <p class="card-text">@obj.Description</p>
                        <div>
                            <a asp-controller="ShoppingList" asp-action="Edit" class="btn btn-primary">
                                <i class="bi bi-minus"></i> Edytuj
                            </a>
                            <a asp-controller="ShoppingList" asp-action="Delete" class="btn btn-primary">
                                <i class="bi bi-minus"></i> Usuń
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div>Stwórz listę zakupów.</div>
        }
    </div>
</div>

