@model List<ShoppingList>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Lista zakupów
            </h2>
        </div>
        <div class="col-6">
            <a asp-controller="ShoppingList" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus"></i> Utwóż nową listę
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
          <thead>
            <tr>
                <th>
                    Tytuł
                </th>
                <th>
                    Lista zakupów
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.Name</td>
                        <td>@obj.Description</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="ShoppingList" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-controller="ShoppingList" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <div>Stwórz listę zakupów </div>
            }
        </tbody>
    </table>
</div>